#head{
    background-image: url(img/bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    justify-content: center;
}
#head_1{
    padding-bottom: 30%;
}

#logo{
    color: #ffffff;
}

a {
    color: #ffffff !important;
}
#header{
    padding-top: 59px;
    justify-content: center;
}
#slaider{
    padding-top: 20%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}
#button_sl{
    margin-top: 10%;
    background-color: #998675 !important;
    text-align: center;
}
.card-body{
    text-align: center !important;
}
.card{
    border-color: rgb(255, 176, 176) !important;
}
#content{
    padding-top: 10%;
}
#content_1{
    padding-bottom: 10% !important;
}
#content_2{
    background-color: #fbfaf8;
}
#content_3{
    padding-top: 5%;
    justify-content: center;
    text-align: center !important;
}
#content_4{
    text-align: center !important;
}
#content_5{
    background-color: #fbfaf8;
}
#img_1{
    padding-top: 8%%;
}
#sect_4{
    background-color: black !important;
    padding-bottom: 10%;
}
#sect_4-2{
    padding-top: 5%;
    color: cornsilk;
}
#btn_sect_4{
    background-color: #998675 !important;
}
#sect_5{
    padding-top: 5%;
}
#sect_5-1{
    text-align: center;
}
#ph-1{
    padding-top: 10%;
}
#ph-2{
    padding-top: 5%;
    justify-content: center !important;
}
#BTN-PH{
    margin-top: 5%;
}



